<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoina.search.dao.QuestionMapper">
    <select id="queryList" resultType="com.zoina.search.vo.QuestionVo">
        SELECT * FROM zs_question_info q  ORDER BY q.questionTime DESC LIMIT #{page},#{pageSize}
    </select>
    <select id="queryAllCount" resultType="int">
        SELECT count(1) FROM zs_question_info q
    </select>
</mapper>